[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-cov = "*"
coverage = "*"
codecov = "*"
pytest = "*"

[packages]
telethon = "*"
requests = "*"
beautifulsoup4 = "*"
toml = "*"

[requires]
python_version = "3.7"
